* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --corPrincipal:#FF725E;
    --corSecundaria: #263238;
    --corTexto: #FAFAFA;
    --corExtra: #964236;
}

.container{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--corPrincipal);
}

.imgFundo {
    max-width: 470px;
    height: auto;
    max-height: 80vh;
    border-radius: 3px 20px;
    margin-left: 20px;
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 100%;
        background-color: white;
        flex-direction: column;
        
    }

    .imgFundo {
        max-width: 60%;
    }
}